In [1]:
import pandas as pd
pd.options.display.max_columns=None
import numpy as np

In [2]:
pd.__version__

'2.1.4'

In [3]:
df = pd.read_csv("../data/depression_data.csv")
df.head()

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes

In [4]:
import deepchecks
deepchecks.__version__

deepchecks - WARNING - You are using deepchecks version 0.18.1, however a newer version is available. Deepchecks is frequently updated with major improvements. You should consider upgrading via the "python -m pip install --upgrade deepchecks" command.

'0.18.1'

In [5]:
from deepchecks.tabular.suites import full_suite
suites=full_suite()
suites

Full Suite: [
	0: TrainTestPerformance
		Conditions:
			0: Train-Test scores relative degradation is less than 0.1
	1: RocReport
		Conditions:
			0: AUC score for all the classes is greater than 0.7
	2: ConfusionMatrixReport
	3: PredictionDrift
		Conditions:
			0: Prediction drift score < 0.15
	4: SimpleModelComparison
		Conditions:
			0: Model performance gain over simple model is greater than 10%
	5: WeakSegmentsPerformance(n_to_show=5)
		Conditions:
			0: The relative performance of weakest segment is greater than 80% of average model performance.
	6: CalibrationScore
	7: RegressionErrorDistribution
		Conditions:
			0: Kurtosis value higher than -0.1
			1: Systematic error ratio lower than 0.01
	8: UnusedFeatures
		Conditions:
			0: Number of high variance unused features is less or equal to 5
	9: BoostingOverfit
		Conditions:
			0: Test score over iterations is less than 5% from the best score
	10: ModelInferenceTime
		Conditions:
			0: Average model inference time for one sample is less than 0.001
	11: DatasetsSizeComparison
		Conditions:
			0: Test-Train size ratio is greater than 0.01
	12: NewLabelTrainTest
		Conditions:
			0: Number of new label values is less or equal to 0
	13: NewCategoryTrainTest
		Conditions:
			0: Ratio of samples with a new category is less or equal to 0%
	14: StringMismatchComparison
		Conditions:
			0: No new variants allowed in test data
	15: DateTrainTestLeakageDuplicates
		Conditions:
			0: Date leakage ratio is less or equal to 0%
	16: DateTrainTestLeakageOverlap
		Conditions:
			0: Date leakage ratio is less or equal to 0%
	17: IndexTrainTestLeakage
		Conditions:
			0: Ratio of leaking indices is less or equal to 0%
	18: TrainTestSamplesMix(n_to_show=5)
		Conditions:
			0: Percentage of test data samples that appear in train data is less or equal to 5%
	19: FeatureLabelCorrelationChange(ppscore_params={}, random_state=42)
		Conditions:
			0: Train-Test features' Predictive Power Score difference is less than 0.2
			1: Train features' Predictive Power Score is less than 0.7
	20: FeatureDrift
		Conditions:
			0: categorical drift score < 0.2 and numerical drift score < 0.2
	21: LabelDrift
		Conditions:
			0: Label drift score < 0.15
	22: MultivariateDrift
		Conditions:
			0: Drift value is less than 0.25
	23: IsSingleValue
		Conditions:
			0: Does not contain only a single value
	24: SpecialCharacters
		Conditions:
			0: Ratio of samples containing solely special character is less or equal to 0.1%
	25: MixedNulls
		Conditions:
			0: Number of different null types is less or equal to 1
	26: MixedDataTypes
		Conditions:
			0: Rare data types in column are either more than 10% or less than 1% of the data
	27: StringMismatch
		Conditions:
			0: No string variants
	28: DataDuplicates
		Conditions:
			0: Duplicate data ratio is less or equal to 5%
	29: StringLengthOutOfBounds
		Conditions:
			0: Ratio of string length outliers is less or equal to 0%
	30: ConflictingLabels
		Conditions:
			0: Ambiguous sample ratio is less or equal to 0%
	31: OutlierSampleDetection
	32: FeatureLabelCorrelation(ppscore_params={}, random_state=42)
		Conditions:
			0: Features' Predictive Power Score is less than 0.8
	33: FeatureFeatureCorrelation
		Conditions:
			0: Not more than 0 pairs are correlated above 0.9
	34: IdentifierLabelCorrelation(ppscore_params={})
		Conditions:
			0: Identifier columns PPS is less or equal to 0
]

In [14]:
cat_features= df.select_dtypes(include=['object']).columns.tolist()
cat_features.remove('History of Mental Illness')
cat_features.remove('Name')
cat_features

['Marital Status',
 'Education Level',
 'Smoking Status',
 'Physical Activity Level',
 'Employment Status',
 'Alcohol Consumption',
 'Dietary Habits',
 'Sleep Patterns',
 'History of Substance Abuse',
 'Family History of Depression',
 'Chronic Medical Conditions']

In [15]:
from deepchecks.tabular import Dataset
dataframeTest=Dataset(df=df,label='History of Mental Illness',cat_features=cat_features)
dataframeTest

In [16]:
suites.run(dataframeTest)

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_68YEUKFDG3JE1MGT14CLOZRM5">Full Suite</h1>\n<…

In [17]:
    from deepchecks.suites import data_integrity

/home/mahdikoubaa/anaconda3/lib/python3.11/site-packages/deepchecks/suites.py:21: DeprecationWarning:

Ability to import tabular suites from the `deepchecks.suites` is deprecated, please import from `deepchecks.tabular.suites` instead

In [18]:
integrity_test=data_integrity()
integrity_test

Data Integrity Suite: [
	0: IsSingleValue
		Conditions:
			0: Does not contain only a single value
	1: SpecialCharacters
		Conditions:
			0: Ratio of samples containing solely special character is less or equal to 0.1%
	2: MixedNulls
		Conditions:
			0: Number of different null types is less or equal to 1
	3: MixedDataTypes
		Conditions:
			0: Rare data types in column are either more than 10% or less than 1% of the data
	4: StringMismatch
		Conditions:
			0: No string variants
	5: DataDuplicates
		Conditions:
			0: Duplicate data ratio is less or equal to 5%
	6: StringLengthOutOfBounds
		Conditions:
			0: Ratio of string length outliers is less or equal to 0%
	7: ConflictingLabels
		Conditions:
			0: Ambiguous sample ratio is less or equal to 0%
	8: OutlierSampleDetection
	9: FeatureLabelCorrelation(ppscore_params={}, random_state=42)
		Conditions:
			0: Features' Predictive Power Score is less than 0.8
	10: FeatureFeatureCorrelation
		Conditions:
			0: Not more than 0 pairs are correlated above 0.9
	11: IdentifierLabelCorrelation(ppscore_params={})
		Conditions:
			0: Identifier columns PPS is less or equal to 0
]

In [19]:
result_integrity_test=integrity_test.run(dataframeTest)
result_integrity_test

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_2TPBZZZJ6IIJ2A1FA51GAOSNS">Data Integrity Sui…

In [20]:
htmlSave=result_integrity_test.save_as_html('result_integrity_test')

In [26]:
dfcopy=df.copy()
dfcopy.drop(['Name'] , axis=1, inplace=True)
#get categorical features
cat_features= dfcopy.select_dtypes(include=['object']).columns.tolist()
cat_features.remove('History of Mental Illness')
dataframeTest=Dataset(df=df,label='History of Mental Illness',cat_features=cat_features)
dataframeTest

In [27]:
from sklearn.model_selection import train_test_split
df_train,df_test=train_test_split(dfcopy,test_size=0.2)

In [28]:
print(f"df_train:{df_train.shape}")
print(f"df_test:{df_test.shape}")

df_train:(331014, 15)
df_test:(82754, 15)

In [ ]:
#transformation
ds_train=Dataset(df=df_train,label='History of Mental Illness',cat_features=cat_features)
ds_test=Dataset(df=df_test,label='History of Mental Illness',cat_features=cat_features)
data_distribution_test=suites.run(train_dataset=ds_train,test_dataset=ds_test)
data_distribution_test